.bg-custom {
    background-color: rgb(176, 224, 187);
}

.icons {
    position: absolute;
    bottom: 1rem;
    right: 2px;
    display: flex;
    flex-direction: column;
}

.icon-color1 {
    color: #4267B2;
}

.icon-color2 {
    color: #0077b5;
    margin: 7px 0;
}

.icon-color3 {
    color: #1DA1F2;
}